In [10]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [37]:
names = list(range(0, 275))

In [38]:
data = pd.read_csv("results_DS_0.csv",  header=None, index_col=None)
data.columns = names
#data = data.drop(270, axis=1)

In [32]:
names = list(range(0, 35))
data.columns = names
data.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,119,128,119,152,118,130,118,128,97,110,...,106,117,146,103,118,152,90,129,129,28
1,130,152,95,90,118,152,113,130,118,152,...,152,73,126,101,152,152,90,129,129,28
2,76,90,133,152,90,123,130,152,98,126,...,126,130,152,82,93,152,90,129,129,28
3,123,130,87,117,123,152,94,102,117,125,...,138,115,130,113,146,152,90,129,129,28
4,152,141,152,152,152,152,152,152,152,152,...,123,152,152,152,152,152,90,129,129,28

In [74]:
def plot_boxplot(df, name):
    # Transpose the DataFrame
    transposed_df = df.T

    # Melt the transposed DataFrame into long format
    box_names = {0:'Island 1', 1:'Island 2', 2:'Island 3', 3:'Island 4', 4:'10%', 5:'20%', 6:'40%', 7:'80%', 8:'100%', 9:'DEF', 10:'MAXP', 11:'MAXPW', 12:'MINW', 13:'MARK'}
    melted_df = pd.melt(transposed_df.reset_index(), id_vars="index", var_name="Row", value_name="Value")
    melted_df['Row'] = melted_df['Row'].replace(box_names)

    # Plot the boxplots using Seaborn
    ax = sns.boxplot(x="Row", y="Value", data=melted_df)
    plt.title("Results for KP instance " + str(instance_name))
    plt.xlabel("")
    plt.ylabel("Profit")
    plt.xticks(rotation=45)

    # Add group labels for subsets of boxplots
    group_labels = [("No migration probability", 0, 4), ("Migration Probability", 4, 9), ("Heuristics", 10, 13)]
    for label, start, end in group_labels:
        plt.text((start + end - 1) / 2, ax.get_ylim()[0] - 0.2 * (ax.get_ylim()[1] - ax.get_ylim()[0]), label, ha="center", va="top")

    # Add a horizontal line indicating the maximum value
    max_value = melted_df['Value'].max()
    plt.axhline(y=max_value, color='r', linestyle='--', label=f"Optimum: {max_value}")

    # Add a legend to show the label for the maximum value line
    plt.legend()

    # Automatically adjust spacing between elements in the plot
    plt.tight_layout()

    # Save the figure to your computer
    plt.savefig('Graphs DS\\'+ str(name) + '.png', dpi=300, bbox_inches='tight')
    plt.clf()

In [98]:
instance_type = ['A', 'B', 'C', 'D', 'E']
instance_num = 0
for i in range(1, 6):
    instance_name = 'GA-' + str(instance_type[i-1]) + '_50_00' + str(instance_num)
    instance = data.iloc[(i-1) * 10 + instance_num]
    # Convert the DataFrame to a NumPy array
    data_np = instance.to_numpy()

    # Reshape the NumPy array to the desired shape (9 rows x 30 columns)
    reshaped_data = data_np.reshape(14, 30)

    # Convert the reshaped NumPy array back to a DataFrame
    instance_df = pd.DataFrame(reshaped_data)
    plot_boxplot(instance_df, instance_name)

In [132]:
def plot_boxplot_0(df, name):
    # Transpose the DataFrame
    transposed_df = df.T

    # Melt the transposed DataFrame into long format
    box_names = {0:'Island 1', 1:'Island 2', 2:'Island 3', 3:'Island 4'}
    melted_df = pd.melt(transposed_df.reset_index(), id_vars="index", var_name="Row", value_name="Value")
    melted_df['Row'] = melted_df['Row'].replace(box_names)

    # Plot the boxplots using Seaborn
    sns.boxplot(x="Row", y="Value", data=melted_df)
    plt.title("Results for KP instance " + str(instance_name))
    plt.xlabel("")
    plt.ylabel("Profit")
    plt.xticks(rotation=45)

    # Add a horizontal line indicating the maximum value
    max_value = melted_df['Value'].max()
    plt.axhline(y=max_value, color='r', linestyle='--', label=f"Optimum: {max_value}")

    # Add a legend to show the label for the maximum value line
    plt.legend()

    # Automatically adjust spacing between elements in the plot
    plt.tight_layout()

    # Save the figure to your computer
    plt.savefig('Graphs DS\\0\\'+ str(name) + '_0.png', dpi=300, bbox_inches='tight')
    plt.clf()

In [133]:
instance_type = ['A', 'B', 'C', 'D', 'E']
instance_num = 0
for i in range(1, 6):
    instance_name = 'GA-' + str(instance_type[i-1]) + '_50_00' + str(instance_num)
    instance = data.iloc[(i-1) * 10 + instance_num]
    # Convert the DataFrame to a NumPy array
    data_np = instance.to_numpy()

    # Reshape the NumPy array to the desired shape (9 rows x 30 columns)
    reshaped_data = data_np.reshape(9, 30)

    # Convert the reshaped NumPy array back to a DataFrame
    instance_df = pd.DataFrame(reshaped_data)
    instance_df = instance_df.drop([4,5,6,7,8], axis=0)
    plot_boxplot_0(instance_df, instance_name)

In [45]:
data = pd.read_csv("ResultsSetC.csv",  header=None, index_col=None)
names_hh = list(range(0, 12))
data.columns = names_hh
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,51145,108259,594626,524520,51568,594626,594626,594626,594626,594626,594626,594669
1,6365,10896,58283,50668,6559,58283,58283,58283,58283,58283,58283,58305
2,2964,3555,6292,5153,2694,6292,6292,6292,6292,6292,6292,6384
3,10862,24610,117814,104127,11658,117814,117814,117814,117814,117814,117814,117872
4,3271,4560,10463,9027,2556,10463,10463,10463,10463,10463,10463,10463

In [46]:
data.tail()

,0,1,2,3,4,5,6,7,8,9,10,11
16,622,895,895,288,895,895,895,895,895,895,288,895
17,8097,8919,8919,1701,8919,8919,8919,8919,8919,8919,1701,8919
18,622,895,895,175,895,895,895,895,895,895,175,895
19,20605,22505,22505,4551,22505,22505,22505,22505,22505,22505,4551,22505
20,1896,2215,2215,444,2215,2215,2215,2215,2215,2215,444,2217

In [52]:
def plot_boxplot_hh(df):
    # Transpose the DataFrame
    # transposed_df = df.T

    # Melt the transposed DataFrame into long format
    box_names = {0:'DEF', 1:'MAXP', 2:'MAXPW', 3:'MINW', 4:'MARK', 5:'HH_10-90_2', 6:'HH_10-90_4', 7:'HH_50-50_3', 8:'HH_50-50_4', 9:'HH_70-30_4', 10:'HH_70-30_5', 11:'OPTIMUM'}
    melted_df = pd.melt(df.reset_index(), id_vars="index", var_name="Row", value_name="Value")
    melted_df['Row'] = melted_df['Row'].replace(box_names)

    # Plot the boxplots using Seaborn
    ax = sns.boxplot(x="Row", y="Value", data=melted_df)
    plt.title("Condensed results of Heuristics vs Hyper-heuristics")
    plt.xlabel("")
    plt.ylabel("Profit")
    plt.xticks(rotation=90)

    # Add group labels for subsets of boxplots
    # group_labels = [("Heuristics", 0, 4), ("Hyper-heuristics", 4, 7)]
    # for label, start, end in group_labels:
    #    plt.text((start + end - 1) / 2, ax.get_ylim()[0] - 0.2 * (ax.get_ylim()[1] - ax.get_ylim()[0]), label, ha="center", va="top")

    # Automatically adjust spacing between elements in the plot
    # plt.tight_layout()

    # Save the figure to your computer
    plt.savefig('Results_C.png', dpi=300, bbox_inches='tight')
    plt.clf()

In [53]:
plot_boxplot_hh(data)

In [98]:
# Load the data
df = pd.read_csv('results_DS_0.csv', header=None, index_col=None)

# Select the first row
row = df.iloc[44, :]

# Define some useful variables
num_main_cols = 270
cols_per_row = 30
num_repeat_cols = 5

# Split the main columns and the repeat columns
main_cols = row[:num_main_cols]
repeat_cols = row[num_main_cols:]

# Reshape the main columns
reshaped_main = main_cols.values.reshape(-1, cols_per_row)

# Repeat the repeat columns
repeat_cols_repeated = np.repeat(repeat_cols.values, cols_per_row).reshape(-1, cols_per_row)

final = np.concatenate([reshaped_main, repeat_cols_repeated], axis=0)

In [99]:
instance_name = 'GA-E_50_005'
final = pd.DataFrame(final)
plot_boxplot(final, instance_name)

In [82]:
final

array([[161, 119, 169, 198, 192, 185, 154, 212, 128, 174, 212, 196, 142,
        187, 196, 196, 153, 178, 141, 212, 177, 150, 192, 192, 185, 165,
        196, 178, 147, 189],
       [192, 192, 150, 178, 196, 198, 147, 178, 174, 168, 165, 171, 172,
        194, 198, 147, 161, 212, 134, 171, 192, 212, 123, 174, 192, 212,
        145, 196, 192, 196],
       [132, 174, 165, 196, 147, 196, 212, 212, 147, 196, 173, 196, 141,
        174, 192, 178, 122, 154, 154, 172, 114, 174, 172, 196, 106, 178,
        192, 196, 131, 172],
       [198, 198, 119, 174, 175, 212, 112, 185, 196, 198, 126, 147, 174,
        196, 165, 154, 196, 212, 150, 165, 189, 198, 147, 145, 188, 212,
        178, 188, 198, 196],
       [198, 196, 196, 212, 196, 196, 198, 198, 196, 196, 198, 212, 198,
        178, 198, 198, 198, 212, 212, 198, 198, 198, 198, 196, 212, 212,
        198, 212, 196, 196],
       [198, 196, 198, 198, 212, 198, 198, 198, 196, 198, 212, 212, 196,
        212, 198, 198, 196, 212, 198, 196, 198, 198, 212, 198, 198, 196,
        198, 212, 196, 198],
       [198, 196, 198, 198, 198, 196, 196, 212, 198, 192, 192, 212, 196,
        196, 212, 212, 212, 198, 198, 196, 196, 212, 198, 212, 196, 198,
        196, 198, 196, 196],
       [198, 198, 212, 198, 196, 198, 192, 198, 178, 212, 212, 196, 212,
        198, 212, 196, 196, 212, 212, 212, 212, 196, 196, 212, 198, 196,
        198, 198, 212, 212],
       [212, 212, 192, 212, 196, 196, 196, 196, 212, 198, 198, 196, 196,
        212, 196, 198, 212, 212, 196, 196, 198, 212, 196, 198, 196, 196,
        212, 212, 212, 212],
       [ 84,  84,  84,  84,  84,  84,  84,  84,  84,  84,  84,  84,  84,
         84,  84,  84,  84,  84,  84,  84,  84,  84,  84,  84,  84,  84,
         84,  84,  84,  84],
       [151, 151, 151, 151, 151, 151, 151, 151, 151, 151, 151, 151, 151,
        151, 151, 151, 151, 151, 151, 151, 151, 151, 151, 151, 151, 151,
        151, 151, 151, 151],
       [192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192,
        192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192, 192,
        192, 192, 192, 192],
       [212, 212, 212, 212, 212, 212, 212, 212, 212, 212, 212, 212, 212,
        212, 212, 212, 212, 212, 212, 212, 212, 212, 212, 212, 212, 212,
        212, 212, 212, 212],
       [ 58,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,
         58,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,  58,
         58,  58,  58,  58]], dtype=int64)